<!--------Define um header-------->
<header id="header">
    <!--------Define um container bootstrap-------->
    <div class="container">
        <!--------Define uma linha Bootstrap-------->
        <div class="row">
            <!--------Define uma separação Bootstrap-------->
            <div class="col-sm-12">
                <!--------Define uma lista e seus respectivos items-------->
                <ul class="nav nav-fill ">
                    <li class="nav-item">
                        <a href="#home" class="nav-link text-success">
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link text-success">
                            Sobre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#college" class="nav-link text-success">
                            Formação
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#projects" class="nav-link text-success">
                            Projetos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link text-success">
                            Contato
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>