<!--------Define a seção-------->
<section id="about">
    <!--------Define um container bootstrap-------->
    <div class="container nav">
        <!--------Define uma separação Bootstrap-------->
        <div class="col-sm-7">
            <!--------Define um Título e 3 parágrafos-------->
            <h3>SOBRE MIM</h3>
            <p>Tenho 20 anos, sou apaixonado por técnologia, meio ambiente, HQs, video-games e ficção ciêntífica.</p>
            <p>Aprendi a mexer no computador com 5 anos, graças ao meu irmão que me ensinou, e desde então sou apaixonado por tecnologia e inovação.</p>
            <p>Trabalho muito bem em equipe, me considero solidário, ambicioso, e focado.</p>
        </div>
        <div class="col-sm-5">
            <!--------Define uma imagem-------->
            <img src="../../assets/img/jhony.jpg" class="hero">
        </div>
    </div>
</section>
