<!--------Define uma seção-------->
<section id="projects">
  <!--------Define um container bootstrap-------->
    <div class="container">
        <div class="nav cartao">
          <!--------Define um card bootstrap, com link, botão, titulo e imagem-------->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/poke.png" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Pokedex</h5>
                      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                      <a href="https://jhonybroholka.github.io/projeto-pokedex/" class="btn btn-success" target="_blank">Visitar</a>
                    </div>
                  </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/Money Saver.png" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Money Saver</h5>
                      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                      <a href="https://jhonybroholka.github.io/Landing-Page-Money-Saver/" class="btn btn-success" target="_blank">Visitar</a>
                    </div>
                  </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/Pagina de login.png" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Página de Login</h5>
                      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                      <a href="https://jhonybroholka.github.io/pagina-de-login/" class="btn btn-success" target="_blank">Visitar</a>
                    </div>
                </div>
        </div>
    </div>
</section>