<!--------Define a seção-------->
<section id="college">
    <!--------Define um container bootstrap-------->
    <div class="container nav">
        <!--------Define uma separação Bootstrap-------->
        <div class="col-sm-6">
            <h1>FORMAÇÃO ACADÊMICA</h1>
            <h6>TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS - UNINTER</h6>
            <p>Cursando 3 Período</p>
            <p>Previsão de formação: Dezembro de 2023</p>
            <!--------Define uma lista e seus respectivos items-------->
            <ul>
                <li>
                    SQL.
                </li>
                <li>
                    Algoritmo e Lógica de Programação.
                </li>
                <li>
                    Comunicação empresarial.
                </li>
                <li>
                    Gestão de projetos.
                </li>
            </ul>
        </div>
        <!--------Define uma separação Bootstrap-------->
        <div class="col-sm-6">
            <h1>OUTROS CURSOS</h1>
            <h6>Técnico em Administração integrado ao Ensino Médio</h6>
            <!--------Define uma lista e seus respectivos items-------->
            <ul>
                <li>Administração de tempo</li>
                <li>Kanbam</li>
                <li>Trabalho em equipe</li>
            </ul>
            <h6>Inglês Básico - U-best</h6>
            <h6>HTML, CSS E JAVASCRIPT - PROGRAMADOR BR</h6>
            <!--------Define uma lista e seus respectivos items-------->
            <ul>
                <li>
                    HTML do básico ao avançado
                </li>
                <li>
                    CSS do básico ao avançado
                </li>
                <li>
                    Javascript do básico ao avançado, com foco em Desenvolvimento Web
                </li>
            </ul>
        </div>
    </div>
</section>
