<!-----Define uma seção----->
<section>
    <!-----Chama o componente Header----->
    <app-header></app-header>
    <!-----Chama o componente Home----->
    <app-home></app-home>
    <!-----Chama o componente About----->
    <app-about></app-about>
    <!-----Chama o componente College----->
    <app-college></app-college>
    <!-----Chama o componente Projects----->
    <app-projects></app-projects>
    <!-----Chama o componente Contact----->
    <app-contact></app-contact>

    <!-----ROUTER----->
    <router-outlet></router-outlet>

</section>