/*------Importa o Bootstrap------*/
@import "~bootstrap/dist/css/bootstrap.css";
/*------Reseta o body e o torna mais responsivo------*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
