<!--------Define a seção-------->
<section id="inicio">
    <!--------Define um container bootstrap-------->
    <div class="container">
        <!--------Define uma linha Bootstrap-------->
        <div class="row">
            <!--------Define uma separação Bootstrap-------->
            <div class="col-sm-5">
                <div class="profile">
                    <!--------Define uma Imagem-------->
                    <img src="../../assets/img/developer.svg" class="hero">
                </div>
            </div>
            <!--------Define uma separação Bootstrap-------->
            <div class="col-sm-7 info">
                <!--------Define um título e parágrafos-------->
                <h1>JHONY VINICIUS BROHOLKA SILVERIO</h1>
                <p>
                    Desenvolvedor web &
                </p>
                <p>
                    Entusiasta por tecnologia &
                </p>
                <p>
                    Apaixonado pelo meio ambiente.
                </p>
            </div>
        </div>
    </div>
</section>
